@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

/* Lys som default */
:root { color-scheme: light; }
body { background-color: #f3f4f6; color: #111827; }

/* Mørk når .dark ligger på <html> */
:root.dark { color-scheme: dark; }
.dark body { background-color: #0b1220; color: #e5e7eb; }
